{% extends "layout.html" %}

{% block content %}
{% for post in stream %}
    <div class="container" style="background-color: #F8F8F8; position: relative; bottom: -25px; border-style: solid; border-color: lightblue;">
        <article>
            <div class="container" style="position: relative; bottom: -20px; padding-bottom: 20px;">
                <br>
                <div class="pull-xs-right">
                    <h4 style=color:#0275d8;">Vote</h4>
                    <div>
                        <a href="{{ url_for('upvote', post_id=post.id) }}"><p>{{ post.upvotes.count() }} <img src="/static/img/upvote.png" height="15" width="15" ></p></a>
                    </div>
                    <div>
                        <a href="{{ url_for('downvote', post_id=post.id) }}"><p>{{ post.downvotes.count() }} <img src="/static/img/downvote.png" height="15" width="15" ></p></a>
                    </div>
                    </div>
                    <div class="post_row">
                        <h2>
                            <a href="{{ url_for('stream', username=post.user.username) }}">{{ post.user.username }}</a>
                        </h2>
                    </div>
                <div class="post_row">
                    <i class="clock"></i><time data-time="{{ post.timestamp }}" class="distime" datetime="{{
                        post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}">{{ post.timestamp.strftime('%Y-%m-%d %H:%M') }}</time>

                </div>

                <div class="post_row">
                    <div style="width: 85%">
                        {{ post.content }}
                    </div>
                </div>
                <div class="pull-xl-left">
                    <a href="{{ url_for('view_post', post_id=post.id) }}" class="view" style="padding-right: 10px"><img src="/static/img/ex_link.png" height="15" width="15" ></a>
                    <a href="{{ url_for('delete_post', post_id=post.id) }}" class="delete" style="padding-right: 10px"><img src="/static/img/trash.png" height="15" width="15" ></a>
                    <a href="{{ url_for('stream', post_id=post.id) }}" class="comment" style="padding-right: 10px"><img src="/static/img/comment.png" height="15" width="15" ></a>
                </div>
                <br>
            </div>
        </article>
    </div>
    <br>
{% endfor %}
{% endblock %}